/* about me */

/* .index_content p {
  text-align: justify;
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 20px;
} */

/* .index_content .selected_project img {
  padding-top: 1%;
  width: 70%;
} */

