---
layout: compress
---

<html>
  <head>
    <meta charset="utf-8">
    <title> Xin Luo Homepage</title>
    <link rel="stylesheet" href="/assets/css/default.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome/css/all.css">    
  </head>

  <body>
    <!-- navigation bar -->
    <div class="head">
      <ul class="head_text">
        {% for item in site.data.nav %}
        <li><a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- profile photo -->
    <div class="profile-photo">
      <div class="profile-top">  
        <img src="/assets/images/photo_xinluo.png">
        <p class="name">Xin Luo (罗新)</p>
        <p class="Institution">Yunnan University</p>
      </div>

      <div class="profile-middle">
        <div class="social-menu">
          <ur>
            <li>
              <a href="https://github.com/xinluo2018"><i class="fab fa-github"></i>
                <p class="icon-name">Github</p>
              </a>          
            </li>
            <li>
              <a href="https://twitter.com/xinluo2020"><i class="fab fa-twitter"></i>
                <p class="icon-name">Twitter</p>
              </a>
            </li>           
            <li>
              <a href="https://weibo.com/"><i class="fab fa-weibo"></i>
                <p class="icon-name">Weibo</p>
              </a>          
            </li>
            <li>
              <a href="https://www.zhihu.com/people/luo411795604"><i class="fab fa-zhihu"></i>
                <p class="icon-name">Zhihu</p>
              </a> 
            </li>
          </ur>
        </div>
      </div>

      <div class="profile-bottom">
        <h4> Contact me </h4>
        <p>
          <email>
            Email: xinluo_xin@163.com
          </email>
          <address>
            Room 1327, School of Earth Sciences,<br>
            Chenggong Campus, Yunnan University,<br>
            Kunming, 650500, China.<br>
          </address>
        </p>
      </div>  
    </div>  

    <div class="content"> 
      {{ content }}
    </div>

  </body>
</html>

